html, body{
    overflow: hidden;
}
body {
    margin:0;
    position: relative;
}

#container {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0.3em;
    padding: 0;
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bolder;
}

#console {
    top: 30px;
    right: 0;
}

#console-toggle {
    position: absolute;
    right: 7px;
    width: 27px;
    height: 22px;
    cursor: pointer;
}

#console-toggle span {
    position: absolute;
    width: 100%;
    border-bottom: solid 3px #fff;
}

#console-toggle span:nth-child(1) { top: 0; }
#console-toggle span:nth-child(2) { top: 8px }
#console-toggle span:nth-child(3) { top: 16px }

#console #console-wrapper {
    position: relative;
    top: 27px;
    margin: 5px;
    width: 0;
    overflow-x: hidden;
    transition: .35s ease-in-out;
    background: rgba(255,255,255,0.85);
    border-radius: 3px;
}

#console.console-open #console-wrapper {
    display: block;
    width: 240px;
}

#console-board {
    margin: 5px 10px;
    width: 240px;
}

#console-board input[type="range"] {
    width: 180px;
}

footer {
    bottom: 0;
    width: 100%;
    font-size: small;
    text-align: right;
    pointer-events: none;
}
footer #source-link {
    pointer-events: all;
}

.overlay {
    position: fixed;
    z-index: 1;
}
